/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-74:hover {
  background-color: #fff;
}
.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 20px;
  }
}

@font-face {
  font-family: "Helvetica";
  src: url(./assets/fonts/Helvetica.ttf);
}
@font-face {
  font-family: "FashionCountry";
  src: url(./assets/fonts/FashionCountry-1G7r4.ttf);
}
@font-face {
  font-family: "SuperGlue";
  src: url(./assets/fonts/SuperGlue-7BaBK.ttf);
}
@font-face {
  font-family: "DripOctober";
  src: url(./assets/fonts/DripOctober-vm0JA.ttf);
}
@font-face {
  font-family: "Sriracha";
  src: url(./assets/fonts/Sriracha-Regular.ttf);
}
@font-face {
  font-family: "Veneer";
  src: url(./assets/fonts/Fontspring-DEMO-VeneerLowResThree.otf);
}

@layer components {
  .max-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding {
    @apply px-8 py-12 sm:px-16 sm:py-24;
  }
  .padding-x {
    @apply px-8 sm:px-16;
  }
  .padding-y {
    @apply py-12 sm:py-24;
  }
  .padding-l {
    @apply pl-8 sm:pl-16;
  }
  .padding-r {
    @apply pr-8 sm:pr-16;
  }
  .padding-t {
    @apply pt-12 sm:pt-24;
  }
  .padding-b {
    @apply pb-12 sm:pb-24;
  }

  /* .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  } */
}
